@page "/"
@inject HttpClient Http

<PageTitle>Recipes</PageTitle>

@if (body == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@body.Content</h1>

    <p>Welcome to your new app.</p>
}

@code {
    private Body? body;

    protected override async Task OnInitializedAsync() => body = await Http.GetFromJsonAsync<Body>("data/items.json");

    public class Body
    {
        public string? Content { get; set; }
    }
}